.card-peticion {
  background-color: #b4e3c3a6; /* Verde muy claro */
  color: #ffffff; /* Texto blanco para contraste */
  border-radius: 10px; /* Bordes redondeados */
  padding: 10px; /* Espacio interno */
  margin: 10px; /* Espacio entre cards */
 
  flex-direction: column; /* Coloca los elementos en columna */
  justify-content: center; /* Centra los elementos verticalmente */

  

}

.card-peticion:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 16px rgba(0, 100, 50, 0.15);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  background-color: #a0d8b0; /* Cambia a un verde más oscuro al pasar el mouse */
  color: #ffffff; /* Mantiene el texto blanco */  
  
}

.titulo-peticion {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 10px;  
  
  color: #2e7d32; /* Verde más fuerte */
  font-family: "Segoe UI", sans-serif;
  text-transform: uppercase; /* Hace el texto en mayúsculas */
  
}

.descripcion-peticion {
  font-size: 17px;
  color: #506456;
  margin-bottom: 120px;
  flex-grow: 1;
  text-align: center;
  line-height: 1.5; /* Mejora la legibilidad */
  font-weight: 500;
  text-align: center;
  margin-top: 100px;
}

.comunidad-peticion,
.fecha-peticion {
  font-size: 13px;
  color: #3d6643;
  margin: 2px 0;
  font-style: italic;
  text-align: right;
  font-style: italic;
  font-weight: 600;
}
