.card-anuncio-vertical {
  background-color: #e6f9f0; 
  border: 1px solid #bce4d1;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  width: 230px;
  margin: 14px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  font-family: 'Segoe UI', sans-serif;
  overflow: hidden;
  transition: transform 0.2s ease;
  
}

.card-anuncio-vertical:hover {
  transform: translateY(-3px);
}

.imagen-anuncio-vertical {
  width: 100%;
  height: 140px;
  object-fit: cover;
}

.contenido-card-vertical {
  padding: 14px;
  position: relative;
}

.burbuja-vertical {
  position: absolute;
  top: -35px;
  right: 100px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  line-height: 28px;
  color: white;
}

.burbuja-vertical.normal {
  background-color: #3ddc7fb7;
}

.burbuja-vertical.grave {
  background-color: #e02626cb;
}

.titulo-anuncio-vertical {
  font-size: 17px;
  color: #2f6f41;
  text-align: center;
  margin-bottom: 8px;
}

.descripcion-anuncio-vertical,
.comunidad-anuncio-vertical,
.fecha-anuncio-vertical {
  font-size: 13px;
  color: #333;
  margin: 4px 0;
  text-align: center;
}
