.cont-image {
  background: linear-gradient(to bottom, #b7e8c2, #66bb6a);
  display: flex;
  align-items: center;
  justify-content: center;
  img{
    width: 250px;
  }
}
.register-Info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 70%;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0 0 40px rgba(0, 255, 128, 0.2);
  margin: 95px auto;
  background-color: white;
  background: linear-gradient(to right, #eafff2 100%, #ffffff 100%);
}
.logo {
  width: 140px;
  animation: pulseLogo 3s ease-in-out infinite alternate;
  filter: drop-shadow(0 0 10px #2ecc71);
}
@keyframes pulseLogo {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.04);
  }
}
.register-inputs {
  padding: 10px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.register-input {
  width: 100%;
  max-width: 300px;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 30px;
  background-color: #e9fef2;
  border: 2px solid #00c853;
  font-size: 12px;
  outline: none;
  transition: all 0.3s ease;
}
.register-input::placeholder {
  font-size: 14px;
}
.register-input:focus {
  box-shadow: 0 0 10px #69f0ae;
}
.register-Btn {
  width: 100%;
  max-width: 310px;
  padding: 14px;
  font-weight: bold;
  font-size: 16px;
  color: #003d1f;
  background: linear-gradient(to right, #00e676, #00c853);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 8px 30px rgba(0, 255, 150, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.register-Btn:hover {
  transform: scale(1.04);
  box-shadow: 0 12px 40px rgba(0, 255, 150, 0.45);
}
.input-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  height: 90%;
}

.columna {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.columna-3 {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-top: 80px; 
}
.register-input, .register-Btn {
  max-width: 250px;
}

@media screen and (max-width: 768px) {
  .register-Info {
    grid-template-columns: 1fr;
    width: 90%;
    margin: 20px auto;
    
  }

  .register-inputs {
    padding: 20px;
  }

  .input-columns {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .columna {
    width: 100%;
    align-items: center;
  }

  .register-input, .register-Btn {
    width: 100%;
    max-width: 100%;
  }

  .columna-3 {
    padding-top: 20px;
    align-items: center;
  }
}
.h20{  
  position: relative;
  left: 110px;         
  color: #136c40;
  text-align: center;                          
  transition: color 0.3s ease;    
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.h20 a{
  text-decoration: none;          
  color: inherit;  
}
.h20 a:hover{
  color: #007f3d;                 
  text-decoration: underline;  
}
.h2{
  color: #136c40;
}
.container my-5{

  background-color: #003d1f;
}
.footer-comp{
  background-color: red;
}